aiohttp
aiosignal
anyio
async-timeout
attrs
certifi
cffi
chardet
charset-normalizer
discord.py
frozenlist
h11
httpcore
httpx
idna
multidict
pycparser
PyNaCl
python-dotenv
pytubefix
requests
rfc3986
sniffio
typing_extensions
urllib3
yarl

